{%  extends 'base.html.twig' %}
{% block title %}
    Przepisy Kulinarne-Jajecznica
{% endblock %}
 {% block body %}
     <div class="main">

         <h1>Jajecznica</h1>
         Do przygotowania jajecznicy będziesz potrzebować:
         <ul>
             {% for ingredient in ingredients %}
                 <li>{{ ingredient }}</li>
             {% endfor %}
         </ul>

     </div>

 {% endblock %}